*{
    margin: 0;
    padding: 0;
}


/* Header */
header {
    background-color: #730756;
    height: 130px;
}
.itensHeader{
    position: relative;
    display: flex;
    flex-direction: row;
}
header img{
    width: 170px;
    display: flex;
    position: relative;
    bottom: 18px;
    left: 10px;
}
.botoes{
    position: absolute;
    display: flex;
    left: 84%;
    top: 45px;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.botoes .login,
.botoes .cadastro{
    font-family: 'Lexend', serif;
    font-size: 15px;
    text-decoration: none;
    height: 45px;
    width: 90px;
    margin-left: 12px;
    border-radius: 10px;
    background-color: #F2A74B;
    color: black;
    text-align: center;
    line-height: 43px;
    border: none;
    cursor: pointer;
}
.botoes .login:hover,
.botoes .cadastro:hover{
    background-color: #ee9229;
    color: black;
}   
.botoes .login:active,
.botoes .cadastro:active{
    color: white;
    background-color: #720b31;
}
/* Fim Header */

/* Body */
body{
    background-color:#fceed1;
    font-family: 'Space Mono', serif;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    right: 100px;
}

.container img{
    width: 700px;
    position: relative;
    left: 50px;
}
.forms h1{
    margin-bottom: 10px;
}
.forms{
    display: flex;
    flex-direction: column;
}

.conjunto1,
.conjunto2,
.conjunto3{
    display: flex;
    flex-direction: row;
}

.conjunto1 p,
.conjunto2 p,
.conjunto3 p{
  font-size: 17px;
}

.conjunto1 input,
.conjunto2 input,
.conjunto3 input{
  width: 270px;
  height: 40px;
  border: 1px solid #F2A74B;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  text-align: center;
  color: #F2A74B;
  margin-left: 13px;
}
.conjunto2,
.conjunto3{
  position: relative;
  bottom: 30px;
}

.conjunto1 input:hover,
.conjunto2 input:hover,
.conjunto3 input:hover{
    background-color: whitesmoke;
    border-color: #9c692a;
}
.conjunto1 input:focus,
.conjunto2 input:focus,
.conjunto3 input:focus{
    caret-color: #F2A74B;
    border-color: #9c692a;
}
.conjunto1 input::placeholder,
.conjunto2 input::placeholder,
.conjunto3 input::placeholder{
    align-items: center;
    justify-content: center;
    color: #ce8e4098;
}
.conjunto1 input:hover::placeholder,
.conjunto2 input:hover::placeholder,
.conjunto3 input:hover::placeholder{
    background-color: whitesmoke;
    border-color: #9c692a;
    color: #F2A74B;
}
.conjunto1 input:focus::placeholder,
.conjunto2 input:focus::placeholder,
.conjunto3 input:focus::placeholder{
    caret-color: #F2A74B;
    border-color: #9c692a;
    color: whitesmoke;
}

.cep{
  position: relative;
  bottom: 30px;
}

.cep1,
.cep1 input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cep1 input{
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 25px;
  position: relative;
  display: flex;
  top: 15px;
  left: 10px;
  border-radius: 5px;
  background-color: rgb(255, 250, 250);
  cursor: pointer;
}

.cep1 input:hover{
    background-color: #f89c33;
    color: rgb(255, 255, 255);
}   
.cep1 input:active{
    color: white;
    background-color: #720b31;
}

.finalizar
{
    font-family: 'Lexend', serif;
    font-size: 15px;
    text-decoration: none;
    margin-left: 12px;
    height: 45px;
    width: 90px;
    background-color: #F2C572;
    color: black;
    text-align: center;
    line-height: 43px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 43%;
}
.finalizar:hover{
    background-color: #F2A679;
    color: black;
}   
.finalizar:active{
    color: white;
    background-color: #F29188;
}
.ja-tem{
    margin-top: 10px;
}
.ja-tem a{
    text-decoration: none;
    color: #F24822;
}


/* Rodapé */
.rodape {
    background-color: #6d0652;  
    color: #fff;  
    padding: 40px 20px;

  }
  .containerR{
    text-align: center;
  }
  .infoR h3 {
    font-size: 2rem;
    text-align: center;
    color: #ff6347;
  }
  .infoR p {
    font-size: 1rem;
  }
  
  /* Estilo da seção de contato */
  .contatoR h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #ff6347;
  }
  
  .contatoR ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .contatoR li {
    margin-bottom: 5px;
    font-size: 1rem;
  }

  /* Estilo do Copyright */
  .copyrightR {
    text-align: center;
    margin-top: 25px;
    font-size: 0.9rem;
  }
  /* Fim Rodapé */