*{
    margin: 0;
    padding: 0;
}

/* Body */
body{
    background-color:#fceed1;
    font-family: 'Space Mono', serif;
}

.container {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.forms{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30px;
}

.forms input{
  width: 270px;
  height: 40px;
  border: 1px solid #F2A74B;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  text-align: center;
  color: #F2A74B;
}

.text{
  width: 270px;
  height: 150px;
  border: 1px solid #F2A74B;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  text-align: center;
  color: #F2A74B;
}

textarea{
  resize: none;
}

textarea::placeholder{
  align-items: center;
  justify-content: center;
  color: #F2A74B;
}

.forms input:hover,
.text:hover{
    background-color: whitesmoke;
    border-color: #9c692a;
}
.forms input:focus,
.text:focus{
    caret-color: #F2A74B;
    border-color: #9c692a;
}

.forms .img input{
  border: 1px solid #F2A74B;
  width: 285px;
  height: 20px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  text-align: center;
  color: #F2A74B;
  cursor: pointer;
}

.tipo select{
  width: 100px;
  height: 40px;
  border: 1px solid #F2A74B;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  text-align: center;
  color: #F2A74B;
}

.continua
{
    font-family: 'Lexend', serif;
    font-size: 15px;
    height: 45px;
    width: 90px;
    background-color: #F2C572;
    color: black;
    text-align: center;
    line-height: 43px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25px;
}



